<div class="d-flex justify-content-between d-block d-sm-none page-title page-title-m3">

</div>

<div class="d-none d-sm-flex p-2 pl-0" *ngIf="deviceInfo">
  <div class="pl-0 pt-2">
    <homemanagement-page-title [title]="userInfoTitle"></homemanagement-page-title>
  </div>
  <div class="ml-auto p-2">
    <button type="button" class="btn btn-secondary mr-1" (click)="cancelEditUser()">{{labels.BUTTONS.CANCEL}}</button>
    <button type="button" class="btn btn-secondary mr-1" (click)="updateDevice()">{{labels.BUTTONS.SAVE}}</button>
  </div>
</div>

<form [formGroup]="editDeviceForm" *ngIf="deviceInfo" novalidate>
  <div class="jumbotron no-bg user-info m-0 pt-0 pb-3">
    <h4 class="">
      <input homemanageAutoWidth type="text" formControlName="deviceName" class="form-control primary-color p-2 deviceName" id="deviceName"
        name="deviceName" placeholder="{{labels.PLACEHOLDERS.NAME}}" required>
    </h4>
    <div class="pt-2 pb-2">
      {{labels.COMMON.HARDWARE_ID}}: {{deviceInfo.hardwareId}}
      <span class="d-block d-sm-none float-right" [ngClass]="deviceInfo.status ? 'activeColor' : 'offline'">{{deviceInfo.status
        ? 'Online' : 'Offline'}}</span>
    </div>
    <div class="row m-0">
      <div class="d-none d-sm-block user-col-1 mr-5">{{labels.COMMON.STATUS}}:
        <span [ngClass]="deviceInfo.status ? 'activeColor' : 'offline'">{{deviceInfo.status ? 'Online' : 'Offline'}}</span>
      </div>
      <div class="user-col-2 mr-5">{{labels.COMMON.REGISTERED_DATE}}:
        <span class="deactiveColor">{{deviceInfo.registeredDate}}</span>
      </div>
      <div class="user-col-2">{{labels.HOME_MANAGEMENT.LAST_MODIFIED_DATE}}:
        <span class="deactiveColor">{{deviceInfo.lastModifiedDate}}</span>
      </div>
    </div>
  </div>
  <div class="card mb-2" *ngIf="deviceInfo">
    <div class="card-body">
      <h5 class="">
        <span class="pb-1 user-name">{{labels.HOME_MANAGEMENT.HOME_INFO}}:</span>
      </h5>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label>{{labels.COMMON.MODEL_NAME}}:</label>
          <div>
            {{deviceInfo.deviceModelName}}
          </div>
        </div>
        <div class="form-group col-md-6">
          <label>{{labels.COMMON.HOME_TYPE}}:</label>
          <div>
            {{deviceInfo.deviceType}}
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>{{labels.COMMON.HARDWARE_VERSION}}:</label>
          <div>
            {{deviceInfo.hardwareVersion}}
          </div>
        </div>
        <div class="form-group col-md-6">
          <label>{{labels.COMMON.SERIAL_NUMBER}}:</label>
          <div>
            {{deviceInfo.serialNumber}}
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="card mb-2" *ngIf="deviceInfo">
    <div class="card-body">
      <h5 class="">
        <span class="pb-1 user-name">{{labels.HOME_MANAGEMENT.CHILD_DEVICES}}:</span>
      </h5>

      <div class="form-row">
        <div class="form-group col-md-6 child-device" *ngFor="let child of deviceInfo.childDevices">
          <input type="text" class="device-name" class="col-lg-6" [value]="child.deviceName" disabled>
          <button type="button" class="remove-device" (click)="removeDevice(child)">
              <img src="assets/homemanage_icons/shared/remove_child_device.svg" alt="showPassword On" />
          </button>
        </div>
      </div>
    </div>

  </div>

  <div class="card mb-2 network" *ngIf="deviceInfo">
    <div class="card-body">
      <h5 class="">
        <span class="pb-1 user-name">{{labels.HOME_MANAGEMENT.NETWORK}}:</span>
      </h5>
      <div class="form-row mb-3">
        <div class="form-group col-md-6">
          <input type="text" id="networkNameSSID" class="form-control col-md-12 networkNameSSID" name="networkNameSSID"
            formControlName="networkNameSSID" required placeholder="{{labels.PLACEHOLDERS.NETWORK_NAME_SSID}}">
        </div>
        <div class="form-group col-md-6">
          <input type="password" id="network-password" class="col-lg-6" [value]="deviceInfo.networkPassword" disabled>
          <span class="ui-inputgroup-addon show-password">
            <img src="assets/homemanage_icons/shared/eye_on.svg" alt="showPassword On" />
          </span>
        </div>
      </div>
      <div class="form-row">
        <h5 class="col-md-12">
          <span class="pb-1 confirm-pswd">{{labels.HOME_MANAGEMENT.CREATE_NEW_PASSWORD}}:</span>
        </h5>
        <div class="form-group col-md-6">
          <input [type]="showNetworkPassword ? 'text' : 'password'" class="form-control" id="networkPassword" name="networkPassword"
            formControlName="networkPassword" placeholder="{{labels.PLACEHOLDERS.PASSWORD}}">
          <span class="ui-inputgroup-addon show-password" (click)="showNetworkPassword = !showNetworkPassword">
            <img [hidden]="!showNetworkPassword" src="assets/homemanage_icons/shared/eye_on.svg" alt="showNetworkPassword On" />
            <img [hidden]="showNetworkPassword" src="assets/homemanage_icons/shared/eye_off.svg" alt="showNetworkPassword Off" />
          </span>
          <div *ngIf="networkPassword.errors &amp;&amp; (networkPassword.dirty || networkPassword.touched)" class="invalid-feedback has-error">
            <div *ngIf="networkPassword.errors.required">
              {{validations.FIELD_REQ}}
            </div>
            <div *ngIf="networkPassword.errors.maxlength">
              {{validations.PWD_MAX_REQ}}
            </div>
            <div [hidden]="!networkPassword.errors.pattern">
              {{validations.PWD_PATTERN}}
            </div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <input [type]="showNetworkPassword ? 'text' : 'password'" class="form-control" id="networkConfirmPassword"
            name="networkConfirmPassword" formControlName="networkConfirmPassword" placeholder="{{labels.PLACEHOLDERS.CONFIRM_PASSWORD}}">
          <span class="ui-inputgroup-addon show-password" (click)="showNetworkPassword = !showNetworkPassword">
            <img [hidden]="!showNetworkPassword" src="assets/homemanage_icons/shared/eye_on.svg" alt="showNetworkPassword On" />
            <img [hidden]="showNetworkPassword" src="assets/homemanage_icons/shared/eye_off.svg" alt="showNetworkPassword Off" />
          </span>
          <div *ngIf="networkConfirmPassword.errors &amp;&amp; (networkConfirmPassword.dirty || networkConfirmPassword.touched)"
            class="invalid-feedback">
            <div *ngIf="networkConfirmPassword.errors.required">
              {{validations.FIELD_REQ}}
            </div>
            <div *ngIf="networkConfirmPassword.errors.maxlength">
              {{validations.PWD_MAX_REQ}}
            </div>
            <div [hidden]="!networkConfirmPassword.errors.pattern">
              {{validations.PWD_PATTERN}}
            </div>
            <div [hidden]="!editDeviceForm.controls['networkConfirmPassword'].errors?.matchOther">
              {{validations.PWD_NOT_MATCHED}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-2" *ngIf="deviceInfo">
    <div class="card-body">
      <h5 class="">
        <span class="pb-1 user-name">{{labels.HOME_MANAGEMENT.FOTA}}:</span>
      </h5>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label>{{labels.HOME_MANAGEMENT.FIRMWARE_VERSION}}:</label>
          <div>
            {{deviceInfo.firmwareVersion}}
          </div>
        </div>
        <div class="form-group col-md-6">
          <label>{{labels.COMMON.LAST_UPDATE}}:</label>
          <div>
            {{deviceInfo.firmwareLastUpdatedDate}}
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>{{labels.COMMON.UPDATE_STATUS}}:</label>
          <div class="col-xl-6 px-0">
            {{deviceInfo.firmwareUpdateStatus}}
            <button class="firmware-update pull-right">{{labels.HOME_MANAGEMENT.UPDATE_NOW}}</button>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label>{{labels.COMMON.UPDATE_SETTINGS}}:</label>
          <div class="col-xl-6 px-0">
            {{labels.HOME_MANAGEMENT.SCHEDULE_TIME}}
            <div class="firmware-update-time pull-right">{{deviceInfo.firmwareUpdateSettingTime}}</div>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="card mb-2" *ngIf="deviceInfo">
    <div class="card-body">
      <h5 class="">
        <span class="pb-1 user-name">{{labels.HOME_MANAGEMENT.INTERNET}}:</span>
      </h5>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label>{{labels.HOME_MANAGEMENT.STATUS_OF_LINK}}:</label>
          <div>
            {{deviceInfo.statusOfLink}}
          </div>
        </div>
        <div class="form-group col-md-6">
          <label>{{labels.HOME_MANAGEMENT.BANDWIDTH_SPEED}}:</label>
          <div>
            {{deviceInfo.bankdwidthSpeed}}<img src="assets/homemanage_icons/shared/sort_down.svg" class="sort-icon ml-2 mr-4" />
            {{deviceInfo.bankdwidthSpeed}}<img src="assets/homemanage_icons/shared/sort_up.svg" class="sort-icon ml-2" />
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>{{labels.HOME_MANAGEMENT.TOTAL_USAGE}}:</label>
          <div>
            {{deviceInfo.totalUsage}}
          </div>
        </div>
      </div>

    </div>

  </div>

</form>

<div *ngIf="mobileFilterSection" class="d-block d-sm-none mobile-actions">
  <div class="d-flex justify-content-around p-2">
    <div>
      <button type="button" class="btn btn-primary mr-1" (click)="cancelEditUser()">{{labels.BUTTONS.CANCEL}}</button>
      <button type="button" class="btn btn-primary mr-1" (click)="updateDevice()">{{labels.BUTTONS.SAVE}}</button>
    </div>
  </div>
</div>