<div *ngIf="userInfo">

  <div class="d-flex justify-content-between d-block d-sm-none page-title page-title-m3">
    <div class="p0">
      <strong>{{userInfoTitle}}</strong>
      <br>
    </div>
    <div class="p-0 ml-auto">

    </div>
  </div>

  <div class="d-none d-sm-flex p-2">
    <div class="pl-0 pt-2">
      <span class="title">{{userInfoTitle}}</span>
    </div>
    <div class="ml-auto p-2">
      <button type="button" *ngIf="checkUserCanEditByStatus()" class="btn btn-disabled mr-1" (click)="cancelEditUser()">{{labels.BUTTONS.CANCEL}}</button>
      <button type="submit" class="btn btn-secondary mr-1" [disabled]="selectedPrivileges.length == 0" (click)="updateUser()">{{labels.BUTTONS.SAVE}}</button>
    </div>
  </div>

  <section id="scroll-container" [perfectScrollbar]="config" class="ps">

    <div class="jumbotron no-bg user-info m-0 pt-0 pl-0">

      <form [formGroup]="editUserForm">

        <div class="edit-user-form" formArrayName="users">
          <h4 class="" *ngFor="let comp of editUserForm.get('users')['controls']; let i=index" [formGroupName]="i">
            <span class="pb-1 user-name">
              <input homemanagementAutoWidth type="text" formControlName="firstName" class="form-control primary-color" id="firstName" name="firstName"
                placeholder="{{labels.PLACEHOLDERS.NAME}}"
                required>
            </span>
          </h4>
        </div>

      </form>

      <div class="pt-2 pb-2">
        {{userInfo.username}}
        <span class="d-block d-sm-none float-right" [ngClass]=" userInfo.status === 'Active' ? 'activeColor' : 'deactiveColor' ">{{userInfo.status}}</span>
      </div>
      <div class="row m-0">
        <div class="d-none d-sm-block user-col-1 mr-2">{{labels.COMMON.STATUS}}:
          <span [ngClass]=" userInfo.status === 'Active' ? 'activeColor' : 'deactiveColor' ">{{userInfo.status}}</span>
        </div>
        <div class="user-col-2 mr-2">{{labels.COMMON.REGISTERED_DATE}}:
          <span class="deactiveColor">{{registeredDate}}</span>
        </div>
        <div class="user-col-2 mr-2">{{labels.COMMON.LAST_LOGIN_DATE}}:
          <span class="deactiveColor">{{userInfo.lastLogin}}</span>
        </div>
      </div>

    </div>
    <div class="jumbotron white-bg rounded-5 mb-2">
      <div class="d-block d-md-none w-100 h-100 align-self-center">*{{labels.COMMON.ROLE}}:</div>
      <div class="d-flex flex-row mb-3">
        <div class="d-none d-md-block w-10 h-100 align-self-center">*{{labels.COMMON.ROLE}}:</div>
        <div class="p-0 role">
          <p-selectButton [options]="roleTypes" [(ngModel)]="selectedRoleType" (ngModelChange)="selectedRoleTypeChanged(selectedRoleType)"></p-selectButton>
        </div>
      </div>
      <div class="d-block d-md-none w-100 h-100 align-self-center">{{labels.COMMON.PERMISSIONS}}:</div>
      <div class="d-flex flex-row">
        <div class="d-none d-md-block w-10 h-100 align-self-center">{{labels.COMMON.PERMISSIONS}}:</div>
        <div class="p-0 permissions">
          <span *ngFor="let privilege of privileges">
            <button class="btn btn-disabled m-1" [ngClass]="privilege.checked ? 'btn-primary' : ''" (click)="(selectedRoleType != 'Administrator') && setPrivilege(privilege)">{{privilege.name}}
              <i class="fa" *ngIf="selectedRoleType != 'Administrator'" [ngClass]="privilege.checked ? 'fa-minus-circle' : 'fa-plus-circle'"></i>
            </button>
          </span>
        </div>
      </div>
    </div>
    <div class="jumbotron white-bg rounded-5">
      <h3>{{labels.COMMON.HISTORY}}</h3>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Oct. 30, 2018 Notification History Log content rating is Everyone. This app is listed in Productivity category of
          app store.
        </li>
        <li class="list-group-item">Oct. 30, 2018 Notification History Log content rating is Everyone. This app is listed in Productivity category of
          app store.
        </li>
        <li class="list-group-item">Oct. 30, 2018 Notification History Log content rating is Everyone. This app is listed in Productivity category of
          app store.
        </li>
        <li class="list-group-item">Oct. 30, 2018 Notification History Log content rating is Everyone. This app is listed in Productivity category of
          app store.
        </li>
        <li class="list-group-item">Oct. 30, 2018 Notification History Log content rating is Everyone. This app is listed in Productivity category of
          app store.
        </li>
        <li class="list-group-item">Oct. 30, 2018 Notification History Log content rating is Everyone. This app is listed in Productivity category of
          app store.
        </li>
        <li class="list-group-item">Oct. 30, 2018 Notification History Log content rating is Everyone. This app is listed in Productivity category of
          app store.
        </li>
        <li class="list-group-item">Oct. 30, 2018 Notification History Log content rating is Everyone. This app is listed in Productivity category of
          app store.
        </li>
        <li class="list-group-item">Oct. 30, 2018 Notification History Log content rating is Everyone. This app is listed in Productivity category of
          app store.
        </li>
      </ul>
    </div>

  </section>

</div>


<div *ngIf="mobileFilterSection" class="d-block d-sm-none mobile-actions">
  <div class="d-flex justify-content-around p-2">
    <div>
      <button type="button" *ngIf="checkUserCanEditByStatus()" class="btn btn-disabled mr-1" (click)="cancelEditUser()">{{labels.BUTTONS.CANCEL}}</button>
      <button type="submit" class="btn btn-secondary mr-1" [disabled]="selectedPrivileges.length == 0" (click)="updateUser()">{{labels.BUTTONS.SAVE}}</button>
    </div>
  </div>
</div>

<div *ngIf="mobileFilterSection">
  <p-sidebar [(visible)]="mobileFilter" position="bottom" appendTo="body">
    <div class="d-flex justify-content-around p-2">
      <div>
        <button type="button" *ngIf="checkUserCanEditByStatus()" class="btn btn-disabled mr-1" 
        (click)="cancelEditUser()">{{labels.BUTTONS.CANCEL}}</button>
      </div>
      <div>
        <button type="submit" class="btn btn-secondary mr-1" [disabled]="selectedPrivileges.length == 0" (click)="updateUser()">{{labels.BUTTONS.SAVE}}</button>
      </div>
    </div>
  </p-sidebar>
</div>