@import 'src/sass/variables';

.ps {
  height: calc(100vh - 270px);
  max-width: 100%;
  position: relative;
  padding: 0;
  transform: translateZ(0);
}

@media (pointer: coarse) {
  .ps {
    overflow-y: auto $i;
  }
}

.role,
.permissions {
  .btn {
    @include font-size($font-14);
  }
}

.user-col-1 {
  width: 150px;
}

.user-col-2 {
  width: 290px;  
}

.user-col {
  width: 20%;
}

.activeColor {
  color: $green;
}
.grey-color,
.deactiveColor {
  color: $grey;
}

.w-10 {
  min-width: 130px;
}

.jumbotron {
	padding: 2rem 2rem;
	width: 100%;

  &.user-info {
    color: $homemanageDarkGrey;
		padding: 1rem 0;
  }
}

.page-title {
  padding: 15px;

  &.bottom-shadow {
    box-shadow: 0;
  }

  &.page-title-m3 {
    margin: 0;
  }
}

.sub-headings {
  color: $primaryBlueColor;
	font-weight: bold;
  margin-bottom: 1.5rem;
  font-size: 1.3rem;
  
  .updateBtn {
    color: $primaryBlueColor;
  }
}

.user-name {
  color: $primaryBlueColor;
  font-weight: bold;
}

.list-group-flush {
  .list-group-item {
    @include font-size($font-12);
  }
}

.btn-disabled {
  i {
    @include font-size($font-16);
    vertical-align: middle;
  }
}

.mobile-actions {
  background: $white;
  // position: fixed;
  // bottom: 0;
  width: 100%;
  z-index: 9;
}

.tabBtn {
	color: $homemanagePrimaryDarkColor;
	cursor: pointer;
	position: relative;
	background-color: $white;
	border-radius: 3px;
	width: 120px;
	text-align: center;
	padding: 5px;

	&.active {
		color: $white $i;
		background-color: $homemanagePrimaryDarkColor;
	}
}

.active:after {
	content:'';
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -15px;
	width: 0;
	height: 0;
	border-top: solid 10px $homemanagePrimaryDarkColor;
	border-left: solid 10px transparent;
	border-right: solid 10px transparent;
}

.alert {
	@include font-size($font-14);
	margin-bottom: 0;

	.message-inner-separator {
		margin: 10px 0;
	}
}

.myprofile-form {
	.form-control {
    background-color: $white;
    padding: 10px 20px;
    height: 45px;

    &:disabled,
    &[readonly] {
      background-color: #e9ecef;
    }
  }
}

.form-group {
  color: $homemanageDarkGrey;
  position: relative;
  min-height: 70px;
  display: block;
  margin: 0;

  &.forgotpwd {
    min-height: 40px;
  }

  &.recaptcha {
    min-height: 90px;
  }

  .is-required-icon {
    position: absolute;
    top: 30px;
    font-weight: bold;
    font-size: 25px;
    padding-left: 5px;
    padding-top: 5px;
  }

  .btn {
    .disabled,
    &:disabled {
      opacity: 1;
    }
  }

  &.form-label-group-agree {
    min-height: 50px;
  }
}

.show-password {
  cursor: pointer;
  z-index: 2;
  position: absolute;
  right: 20px;
  top: 40px;
  
  img {
    width: 20px;
  }
}

.btn-disabled {
  color: $homemanagePrimaryBlueColor;
}

@media (min-width: 300px) and (max-width: 767px) {
  .jumbotron {
    padding: 1rem;
    margin: 5px;
  }

  .ps {
    height: calc(100vh - 230px);
  }

  .page-title {
    &.page-title-m3 {
      margin: 0;
    }
  }

  .user-col-1 {
    width: 100%;
  }
  
  .user-col-2 {
    width: 100%px;  
  }

  .form-inline {
    .form-label-group {
      margin: 0;
    }
  } 
}
