<div class="d-flex justify-content-between d-block d-sm-none page-title page-title-m3">
  <div class="p0">
    <strong>{{itemInfoTitle}}</strong>
    <br>
  </div>
  <div class="p-0 ml-auto">

  </div>
</div>

<div class="d-none d-sm-flex p-2">
  <div class="pl-0 pt-2">
    <homemanagement-page-title *ngIf="currentPage === 1" [title]="itemInfoTitle"></homemanagement-page-title>
    <h4 *ngIf="currentPage > 1">
      <span class="pb-1 title" *ngIf="itemInfoTitle">{{itemInfoTitle}}</span>
    </h4>
  </div>
  <div class="ml-auto p-2">
    <button type="submit" *ngIf="currentPage === 4" (click)="done()" class="btn btn-secondary">
      {{labels.BUTTONS.DONE}}</button>
  </div>
</div>

<div class="card" *ngIf="itemInfo && currentPage === 1">
  <div class="card-header">
    {{labels.COMMON.ITEM_ID}}: {{itemId}}
    <span *ngIf="isExistingDevice || restorePrevDeviceConfig" class="device-exists align-middle">{{labels.COMMON.ITEM_ALREADY_EXISTS}}</span>
  </div>
  <div class="card-body">
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>{{labels.COMMON.ITEM_NAME}}</label>
          <div>
            {{itemInfo.item_name}}
          </div>
        </div>
        <div class="form-group col-md-6">
          <label>{{labels.COMMON.ITEM_TYPE}}</label>
          <div>
            {{itemInfo.item_type}}
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>{{labels.COMMON.ITEM_PRICE}}</label>
          <div>
            {{itemInfo.item_price}}
          </div>
        </div>
        <div class="form-group col-md-6">
          <label>{{labels.COMMON.ITEN_PURCHASE_DATE}}</label>
          <div>
            {{itemInfo.item_purchase_date}}
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="form-row card-btns">
    <div class="form-group create-networks" *ngIf="!isExistingDevice">
      <button type="button" (click)="reconfigureDevice()" class="btn btn-secondary btn-sm ml-1 mr-1">{{labels.BUTTONS.CREATE_NEW_NETWORK}}</button>
      <p-dropdown *ngIf="devicesList && devicesList.length > 0" class="add-to-existing-network" name="networkList" [options]="networksList" [(ngModel)]="selectedNetwork"
        placeholder="{{labels.BUTTONS.ADD_TO_EXISTING_NETWORK}}" (onChange)="selectedNetworkChanged(selectedNetwork)">
      </p-dropdown>
      <button *ngIf="restorePrevDeviceConfig" type="button" (click)="restorePrevConfig()" class="btn btn-secondary btn-sm ml-1 mr-1">{{labels.BUTTONS.RESTORE_PREV_CONFIG}}</button>
      <p-dropdown *ngIf="devicesList && devicesList.length > 0" class="copy-device-config" name="deviceList" [options]="devicesList" [(ngModel)]="selectedDevice"
        placeholder="{{labels.BUTTONS.COPY_CONFIG_FROM_ANOTHER_DEVICE}}" (onChange)="selectedDeviceChanged(selectedDevice)">
      </p-dropdown>
    </div>
  </div>

</div>
<div class="jumbotron no-bg rounded-5 primary-color p-0" *ngIf="currentPage === 3">
  <div class="jumbotron white-bg rounded-5 jumbotron white-bg rounded-5 text-center">

    <div class="row-title">
      <img class="apply-settings-icon" src="assets/homemanage_icons/shared/loading.svg" alt="applying settings">
    </div>
    <div class="row-title">
      {{labels.HOME_MANAGEMENT.YOUR_ROUTER_READY_IN_MINUTES}}
    </div>
    <div class="row-title grey-text">
      {{labels.HOME_MANAGEMENT.PLEASE_DO_NOT_SHUTDOWN_DEVICE}}
    </div>

  </div>
</div>

<div class="jumbotron no-bg rounded-5 primary-color p-0" *ngIf="currentPage === 4">
  <div class="jumbotron white-bg rounded-5 jumbotron white-bg rounded-5 text-center">
    <div class="row row-title">
      <div class="col-sm-12 col-md-1">
        <img class="circle-tick" src="assets/homemanage_icons/shared/circle_tick.svg" alt="applying settings">
      </div>
      <div class="col-sm-12 col-md-9 text-left">
        <div class="config-success pb-2">{{hardwareId}} Configuration Successfully</div>
        <span class="bootoast-alert-content success-alert-content">{{labels.HOME_MANAGEMENT.CONFIGURATION_SUCCESSFULLY_MESSAGE}}</span>
      </div>
      <div class="col-sm-12 col-md-2">
        <button type="button" class="btn btn-secondary mr-1" (click)="addMoreDevice()">{{labels.BUTTONS.ADD_MORE_DEVICES}}</button>
      </div>
    </div>
  </div>
</div>

<p-sidebar [(visible)]="isExistingDevice" position="bottom" [baseZIndex]="1005" appendTo="body">
  <div class="d-flex align-items-center accept-cookie">
    <p>
      {{labels.HOME_MANAGEMENT.DEVICE_EXISTS_CONTINUE_RECONFIGURE}}.
      <button type="button" (click)="addMoreDevice()" class="btn btn-outline-primary btn-sm">{{labels.BUTTONS.NO}}</button>
      <button type="button" (click)="isExistingDevice = false; restorePrevDeviceConfig = true" class="btn btn-secondary btn-sm">{{labels.BUTTONS.YES}}</button>
    </p>
  </div>
</p-sidebar>