@import 'src/sass/variables';

.device-exists {
	@include font-size($font-10);
	color: $amber;
	padding: 2px 5px;
	border: 1px solid $amber;
	border-radius: 5px;
	margin-left: 10px;
}

.card {
	border: 0;

	.card-header {
    border-bottom: 0;
	}
}

.form-row {
	label {
		color: $homemanage-Text-light-Grey-Color;
  }
}

.create-networks {
	.btn {
		font-size: 16px;
		line-height: normal;
		border: none;
		border-radius: 4px;
		padding: 7px 14px;
	}
}

.accept-cookie {
	height: 70px;
	
	p {
    text-align: center;
    margin: 0 auto;
    width: 90%;
	}

	.btn {
		margin: 0 3px;
	}
}

.dropdown-menu {
	width: calc(100% - 8px);
	left: 4px;
	border: none;
	a.dropdown-item {
		color: $grey_b9;
		&:hover {
			background-color: $white;
			color: $primaryBlueColor;
		}
	}
}

.dropdown-toggle.open {
	color: $primaryBlueColor;
	background-color: $white;
	border: none;
}

.title {
	font-weight: bold;
	color: $primaryBlueColor;
}

.apply-settings-icon {
	width: 100px;
}

.circle-tick {
	width: 50px;
}

.card-btns {
	padding: 18px 20px;
    background-color: rgba(0, 0, 0, 0.03);
	.create-networks {
		margin-bottom: 0;
	}
}

@media (min-width: 300px) and (max-width: 767px) {
	.create-networks {
		max-width: 100%;
		button {
			width: 100%;
			margin-bottom: 6px;
			margin-left: 0 !important;
			text-align: left;
		}
	}
}