<div class="container-fluid p-0">
  <div class="row m-0">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 homemanagement-content p-0">
      <div class="logo-section">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 logo-icon p-3">
          <a href="#/login"><img class="ml-3" src="assets/homemanage_icons/shared/ds_logo.jpg" /></a>
        </div>
      </div>

      <div class="card d-flex flex-row">
        <div class="card-left d-none d-md-flex">
          <left-banner-image></left-banner-image>
        </div>
        <div class="card-body card-right">

          <section id="scroll-container" [perfectScrollbar]="config" class="ps">

            <div class="d-flex align-items-start flex-column card-content">

              <div class="my-auto p-2 w-100">

                <div class="mb-4 primary-grey-color">
                  <h5 class="card-title text-center">{{labels.COMMON.PLEASE_VERIFY_EMAIL}}</h5>
                  <div class="text-center mb-4 email-text">
                      {{labels.CHECK_EMAIL.THANK_YOU_JOINING}}. {{labels.CHECK_EMAIL.WE_SENT_VERIFICATION_EMAIL_LINK}}.
                    <br>{{labels.CHECK_EMAIL.PLEASE_FOLLOW_INSTRUCTION_COMPLETE_REGISTRATION}}.
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-12 text-center mb-4 email-text">
                      {{labels.COMMON.REDIRCTING_IN}}:
                    <span class="ml-2 mr-2 timer">00: {{timeLeft}}</span>
                    <br class="d-block d-sm-none"> {{labels.COMMON.OR}}
                    <br class="d-block d-sm-none">
                    <a class="btn btn-secondary" href="#/login">{{labels.COMMON.CLICK_HERE_LOGIN_HERE}}</a>
                  </div>

                  <div class="text-center mb-1 email-text">
                    <br> If you do not receive your verification email.
                  </div>

                  <div class="col-sm-12 col-md-12 col-lg-12 text-center p-0">
                    <span class="mr-3">{{labels.COMMON.CLICK}}</span>
                    <a class="btn btn-light">{{labels.COMMON.RESEND_VERIFICATION_EMAIL}}</a>
                  </div>
                  <br>
                  <br>
                  <div class="alert alert-warning" role="alert">
                      {{labels.COMMON.NOTE}} : {{labels.COMMON.LINK_VALID_12_HOURS}}
                  </div>

                </div>


              </div>

              <homemanagement-copyright-text></homemanagement-copyright-text>
              
            </div>

          </section>

        </div>
      </div>

    </div>
  </div>
</div>