@import 'src/sass/variables';

.ps {
	direction: rtl;
  height: 300px;
  max-width: 100%;
  position: relative;
  padding: 0;
  transform: translateZ(0);
}

@media (pointer: coarse) {
  .ps {
    overflow-y: auto $i;
  }
}

.notification-onscreen {
	@include font-size($font-14);
	color: $homemanage-Text-Grey-Color;

	.notification-onscreen-content {
		width: 300px;
    padding: 30px;
	}

	.settings {
		color: $homemanage-Text-Dark-Color;
		font-weight: bold;
	}
}

.notification-content {
	padding: 0;

	.title {
		@include font-size($font-18);
		padding: 0 20px;
		color: $homemanage-Text-Blue-Color;
	}
}

.notification-item {
	.item-title {
		
	}
	.flag {
		@include font-size($font-10);
		background: $green;
		border-top-left-radius: 10px;
		border-bottom-right-radius: 10px;
		color: $white;
		padding: 3px 4px;
	}
}

.list-group {
	@include font-size($font-14);
	width: 270px;
	padding-right: 0;
}

.list-group-item {
	&.first-child {
    border-top: 0;
  }
	
	a {
    @include font-size($font-14);
    color: $homemanagePrimaryDarkColor;
    font-weight: bold;
  }
}

a {
	&.view-all {
		@include font-size($font-12);
		color: $homemanage-Text-Blue-Color;
	}
}

