

<div class="d-none d-sm-flex p-2 pl-0" *ngIf="itemInfo">
  <div class="pl-0 pt-2">
    <homemanagement-page-title [title]="userInfoTitle"></homemanagement-page-title>
  </div>
  <div class="ml-auto p-2">
    <button type="button"  class="btn btn-secondary mr-1" (click)="editDevice()">{{labels.BUTTONS.EDIT}}</button>
  </div>
</div>



<form>
  <div class="card mb-2" *ngIf="itemInfo">
    <div class="card-body">
      <h5 class="">
        <span class="pb-1 user-name">{{labels.COMMON.ITEM}}:</span>
      </h5>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label>{{labels.COMMON.ITEM_NAME}}:</label>
          <div>
            {{itemInfo.item_name}}
          </div>
        </div>
        <div class="form-group col-md-6">
          <label>{{labels.COMMON.ITEM_ID}}:</label>
          <div>
            {{itemInfo.item_id}}
          </div>
        </div>
        <div class="form-group col-md-6">
          <label>{{labels.COMMON.ITEM_TYPE}}:</label>
          <div>
            {{itemInfo.item_type}}
          </div>
        </div>
        <div class="form-group col-md-6">
          <label>{{labels.COMMON.ITEM_PRICE}}:</label>
          <div>
            {{itemInfo.item_price}}
          </div>
        </div>
        <div class="form-group col-md-6">
          <label>{{labels.COMMON.ITEN_PURCHASE_DATE}}:</label>
          <div>
            {{itemInfo.item_purchase_date}}
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>{{labels.PLACEHOLDERS.ITEM_STATUS}}:</label>
          <div>
            {{itemInfo.item_status}}
          </div>
        </div>
      </div>

    </div>
  </div>

</form>

<div *ngIf="mobileFilterSection" class="d-block d-sm-none mobile-actions">
    <div class="d-flex justify-content-around p-2">
      <div>
        <button type="button"  class="btn btn-primary mr-1" (click)="editDevice()">{{labels.BUTTONS.EDIT}}</button>
        
      </div>
    </div>
  </div>