@import 'src/sass/variables';

.bgimg {
  background-position: center;
  background-size: cover;
  color: $homemanagePrimaryDarkColor;
  font-weight: bold;
  height: 100%;
  position: relative;
}

.middle {
  left: 50%;
  position: relative;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

hr {
  margin: auto;
  width: 40%;
}

.title {
    @include font-size($font-24);
    font-weight: bold;
    line-height: 1.5;

    .userName {
        color: $homemanagePrimaryDarkColor;
    }
}
