@import 'src/sass/variables';

.ps {
  height: calc(100vh - 70px);
  max-width: 100%;
  position: relative;
  transform: translate3d(0, 0, 0);
}

@media (pointer: coarse) {
  .ps {
    overflow-y: auto $i;
  }
}

.homemanagement-content {
  border-radius: 0;
  
  .logo-section {
    height: 70px;
    box-shadow: 0 8px 4px 0 #cecccc;
    background-color: $white;
  }
  
  .logo-icon {
    img {
      width: 130px;
    }
  }
}

.card {
  background: $white;
  border-radius: 0;
  border: 0;
  height: 100%;

  .card-left {
    width: 37.5%;
  }

  .card-right {
    background: $white;
    padding: 0;
    width: 62.5%;
    height: 100%;
  }
}

.card-content {
  height: 98%;
  width: 100%;

  .card-title {
    @include font-size($font-24);
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.95;
    letter-spacing: normal;
    color: $homemanagePrimaryBlueColor;
    margin-bottom: 5%;
  }
}


.form-label-group {
  color: $homemanageDarkGrey;
  position: relative;
  min-height: 70px;

  .form-control {
    height: 45px;
    padding-left: 20px;
  }  

  &.forgotpwd {
    height: 40px;
  }

  &.recaptcha {
    height: 90px;
  }

  .is-required-icon {
    position: absolute;
    top: -5px;
    font-weight: bold;
    font-size: 25px;
    padding-left: 7px;
    padding-top: 5px;
  }

  .btn {
    .disabled,
    &:disabled {
      opacity: 1;
    }
  }

  &.forgotpwd {
    color: $homemanageDarkGrey;

    a {
      @include font-size($font-md);
      font-weight: bold;
      color: $homemanageDarkGrey;
    }
  }

  .first-user {
    color: $homemanagePrimaryDarkColor;
    font-weight: bold;
  }

  &.form-label-group-agree {
    min-height: 50px;
  }
}

.show-password {
  cursor: pointer;
  z-index: 2;
  position: absolute;
  right: 20px;
  top: 10px;
  
  img {
    width: 20px;
  }
}

.btn-disabled {
  color: $homemanagePrimaryBlueColor;
}

.email-text {
  font-weight: bold;
}

.footer-text {
  @include font-size($font-sm);
  color: $homemanage-Light-Grey;
  width: 100%;
}

@media (min-width: 300px) and (max-width: 767px) {
  .homemanagement-content {
    .logo-section {
      height: 75px;
    }
  } 

  .logo-icon {
    text-align: center;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    height: 70px;
  }

  .card-title {
    margin-top: 1rem;
    margin-bottom: 15px;
  }

  .card-body {
    padding: 0;
    width: 100%;
  }

  .agree-text {
    top: 0;
  }
}
